html{
    scroll-behavior: smooth;
}


*{
    margin:0;
    padding: 0;
    
}
/* shared style start */

.azeret-mono{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.btn-primary{
    border-radius: 5px;
    border:1px solid #0D1321;
    padding:13.6px 19.2px;
    text-align: center;
    opacity: 0.8;
    font-size: 16px;
    font-weight: 600;
    background-color: rgb(255, 255, 255);
}
.btn-secondary{
    border-radius: 5px;
    background-color: #0D1321;
    padding:13.6px 19.2px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.title{
    font-weight: 800;
    font-size: 25.6px;
    color:#0D1321;
    margin-bottom: 19.2px;
    text-align: center;
}

.description{
    width: 681.6px;
    font-size: 12.8px;
    font-weight: 400;
    line-height: 20.8px;
    margin-bottom: 38.4px;
    text-align: center;
}



/* shared style end */


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:40px 120px;
}
nav >h2{
    font-size: 22.4px;
    font-weight: 800;
}

/* hero-area code start hare */

.banner{
    background-image: url("../assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 176.8px ;
}

.banner-container{
    width:798.4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
}

.banner-title{
    color: rgb(13, 19, 33);
    font-size: 38.4px;
    font-weight: 800;
    line-height: 54.4px;
    letter-spacing: 0%;
    margin-top: 25.6px;
    margin-bottom: 19.4px;
}

.banner-subtitle{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    margin-bottom: 25.8px;
}

/* article code start hare */

article{
    max-width:912px;
    margin:80px auto;
}

/* section code */

.why-section{
    padding: 64px 77.6px;
    border-radius: 12.8px;
    background: rgba(13, 19, 33, 0.02);
    
}


.why-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:25.6px
    
}



.why-content{
    padding: 38.6px;
    border-radius: 16px;
    
}
.why-title{
    font-size: 19.2px;
    font-weight: 700;
    line-height: 28.8px;
    color:#0D1321;
    margin-bottom: 12.8px;
}

.why-description{
    font-size: 12.8px;
    font-weight: 400;
    line-height: 20.8px;
    opacity: 0.7;
}

.bg-style-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:79px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}
.bg-style-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:38.4px;
    background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}
.btn-learnMore{
    color:#0D1321;
    background-color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    padding: 9.6px 16px;
    margin-top: 25.6px;
    box-sizing: border-box;
    opacity: 0.7;
    border-radius: 5px;
}


/* inspiration-section code start */

.inspiration-section{
    margin-top: 72px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.video{
    padding: 25.6px;
    border:1px solid rgba(13,19,33,0.2);
    border-radius: 12px;
}

.inspiration-section iframe{
    border-radius: 12px;
}


/* target-section code start hare */

.target-section{
    margin-top: 120.8px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.target-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:19.2px;

}

/* target column code start */


/*  target column bg color code start */
.target-column-bg-1{
    background: rgba(255, 76, 30, 0.05);
}
.target-column-bg-2{
    background: rgba(0, 76, 232, 0.05);
}
.target-column-bg-3{
    background-color: rgba(255,223,0,0.05);
}
/* target column bg color code end */


.target-column{
    padding:32px;
    border-radius: 12px;
    text-align:left;
}

.target-column >figure >img{
    margin-bottom: 19.2px;
}
.target-column > h3{
    font-size:19.2px;
    font-weight: 800;
    margin-bottom: 6.4px;
}

.target-column >p{
    font-weight: 400;
    font-size: 12.8px;
    line-height: 20.8px;
    margin-bottom: 19.2px;
}

.target-column >a{
    text-decoration: none;
    color:#0D1321;
    font-weight: 700;
    font-size: 12.8px;
}
/* target-section code end */


/* next-target-section code start hare */

.next-target-section{
    margin-top: 88.8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.next-target-container{
  display: flex;
  flex-direction: column;
  gap:19.2px;
}

/* next-target-row code  */

.next-target-row{
    display: flex;
    align-items: center;
    gap:19.2px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 12px;
    background: #FFFFFF;
    padding: 32px;
}

.next-target-row h4{
    font-size: 19.2px;
    font-weight: 800;
    margin-bottom: 6.8px;
}

.next-target-row p{
    font-size: 12.8px;
    font-weight: 400;
    line-height: 20.8px;
    margin-bottom: 19.2px;
}

.next-target-row a{
    color:#0D1321;
}
/* next-target code is ended */



/* support-section code is started */

.support-section{
    background-image: url('../assets/handshake.jpg'),  linear-gradient(380deg,rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5));
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    margin-top: 39.2px;
    border-radius: 12px;
    padding: 64px 48px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.support-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}
.support-section h4{
    color:#FFFFFF;
    font-weight: 700;
    font-size: 25.6px;
    margin-bottom: 12.8px;
}

.support-section p{
    width: 484.8px;
    color:#FFFFFF;
    opacity: 0.7;
    font-weight: 400;
    font-size: 12.8px;
    line-height: 20.8px;
    margin-bottom: 19.2px;
    
}

.support-container >div{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap:10px;
}

#email{
    width: 406px;
    border-radius: 7px;
    padding: 15.2px 16px;
    border:1px solid rgba(13,19,33,0.15);

}

#email::placeholder{
    color:rgba(13,19,33,0.4);
    font-size: 12.8px;
    font-weight: 400;
}

.btn-input{
    padding: 13.6px 16px;
    border-radius: 7px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    color:#0D1321;
}

/* footer code start hare */

footer{
    border-radius: 12px;
    background: rgba(13, 19, 33, 0.03);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 150px;
    
}
footer h5{
    font-size: 16px;
    font-weight: 600;
    color:#0D1321;
}

footer a{
    text-decoration: none;
    font-size: 24px;
}
footer a:nth-child(1){
    color:#1877F2;
    
}
footer a:nth-child(2){
    color:#FF0000;
}

footer a:nth-child(3){
    color:#0A66C2;
}

.logo-link{
    display: flex;
    gap:19.2px;
}